@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap|lato");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

h1,
h2 {
  line-height: 1em;
  margin-bottom: -1em;
  background-color: #008148;
  font-family: "open sans", lato, arial;
  padding: 0.25em;
  font-size: 1.5em;
}

h2 {
  border-top: 5px double #29335c;
  border-bottom: 5px double #29335c;
}

#content {
  background-color: #F4B942;
  max-width: 960px;
  margin: 0 auto;
  padding: 1em;
}

header {
  display: grid;
  grid-template-columns: 110px auto;
  align-items: center;
}

.logo-box {
  background-color: white;
  border: 1px solid #29335c;
  border-radius: 25px 25px 25px 25px;
  padding: 0.42em;
}

.action {
  background-color: rgba(240, 240, 240, 0.8);
  margin: 1em 1em;
  padding: 1em;
  text-align: center;
  grid-column: 2;
  grid-row: 1;
}

.action button {
  line-height: 0.8em;
  width: 10em;
  background-color: #e7c24f;
  font-size: 1.2em;
}

body {
  background-color: #29335c;
}

nav a {
  color: #29335C;
  background-color: #F4B942;
  font-size: 1.1em;
  text-decoration: none;
}

img ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
  margin: 0;
}

.active {
  color: #F4B942;
  background-color: #29335c;
  padding: .5em 0.125em;
}

 a:hover {
  color: #F4B942;
  background-color: #29335c;
  padding: 0.5em 0.125em;
}

nav li {
  text-align: center;
  padding: 0.5em 1em;
}

main {
  background-color: #EFF2F1;
}

.banner-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.banner-box img {
  width: 100%;
  grid-column: 1 / -1;
  grid-row: 1;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
  text-align: center;
}

.home-headline-1 {
  grid-column: 1/ 4;
  grid-row: 1 / 2;
}

.home-paragraph-1 {
  grid-column: 1 / 4;
  grid-row: 2 / 4;
}

* {
  box-sizing: border-box;
}

.home-right-img {
  grid-column: 4 / 6;
  grid-row: 1 / 3;
  border: 1px solid #fff;
  padding: 2px 0;
  box-shadow: 0px 5px 10px #999;
  justify-self: center;
}

.home-headline-2 {
  grid-column: 3 / 6;
  grid-row: 4 / 5;
}

.home-paragraph-2 {
  grid-column: 3 / 6;
  grid-row: 5 / 7;
}

.home-left-img {
  grid-column: 1 / 3;
  grid-row: 4 / 6;
  border: 1px solid #fff;
  padding: 2px 0;
  box-shadow: 0px 5px 10px #999;
  justify-self: center;
}

.home-paragraph-3 {
  text-align: center;
  grid-column: 1 / 6;
  grid-row: 7 / 8;
}

footer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.social {
  justify-self: end;
}

.social img {
  margin-left: 5px;
}

img {
  max-width: 100%;
}

p {
  font-family: "Roboto", lato, arial;
  padding: 1em;
  font-size: 1em;
}

@media screen and (max-width: 550px) {
  .home-grid,
  nav ul,
  .banner-box {
    display: block;
  }
}

.contact {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  text-align: center;
}

.contact-us {
  grid-column: 1/ 3;
  grid-row: 1 / 2;
}

.time-available {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.office {
   grid-column: 3 / 4;
  grid-row: 1 / 3;
  border: 1px solid #fff;
  padding: 2px 0;
  box-shadow: 0px 5px 10px #999;
  justify-self: center;
}

